
@{
    ViewData["Title"] = "Wait";
}

<h1 style="text-align: center; margin-top: 6%;">Please wait<br />gathering your data!</h1>

<script>
    (function () {
        window.location = "/Scrape/?getScrape=true";
    })();
</script>