@model System.Data.DataTable;

@{
    ViewData["Title"] = "History";
}

<h2 style="color: rgb(229, 81, 81); text-align: center">Scrape History</h2>
<div class="scroll-div">
    <table class="table table-striped stale">
        <tr>
            <th>Date & Time</th>
        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            @if (@ViewBag.latest != @Model.Rows[i][0].ToString())
            {
                <tr>
                    <td>
                        <a style="color: rgb(229, 31, 31); font-weight: 600" href="/Scrape/?scrapeId=@Model.Rows[i][1]&stale=true">
                            @Model.Rows[i][0]
                        </a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <a style="color: green; font-weight: 600" href="/Scrape/?scrapeId=@Model.Rows[i][1]">
                            @Model.Rows[i][0]  — Most Recent Scrape
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>